<section class="mat-app-background">
<mat-toolbar color="primary">
  <a href="/">allcode.dev</a>
  <span class="expando"></span>
  <div *ngIf="user$ | async as user ; else noSession">
    <button mat-flat-button [matMenuTriggerFor]="signedInMenu" color="primary" aria-label="Signed-in user controls">
      <span [textContent]="user.displayName"></span>
      &nbsp;
      <mat-icon class="material-icons">menu</mat-icon>
    </button>
    <mat-menu #signedInMenu="matMenu">
      <button mat-menu-item (click)="signOut()">Sign out</button>
    </mat-menu>
  </div>
</mat-toolbar>

<ng-template #noSession>
  <div>
    <button mat-flat-button [matMenuTriggerFor]="signedOutMenu" color="primary">
      Sign&nbsp;In
      &nbsp;
      <mat-icon class="material-icons">menu</mat-icon>
    </button>
    <mat-menu #signedOutMenu="matMenu">
      <button mat-menu-item (click)="signInWithGitHub()">Sign in with GitHub</button>
      <button mat-menu-item (click)="signInWithGoogle()">Sign in with Google</button>
      <button mat-menu-item (click)="signInWithAnon()">Sign in anonymously</button>
    </mat-menu>
  </div>
</ng-template>

<router-outlet></router-outlet>
</section>
