.logo-link {
  height: 100%;
}

.ac-logo {
  max-height: 60%;
  margin: 20% 0.5em 20% 0;
}

.ac-logo-white {
  .ac-logo-fill {
    fill: white;
  }
}

.app-wrapper {
  min-height: 100%;
  display: block;
}
