<div class="privacy-policy-wrapper">

  <h1>Privacy Policy</h1>

  <p>Hi, my name is <a href="https://rickosborne.org" rel="self" target="_blank">Rick Osborne</a>. I'm an actual human, and the person who created <kbd>allcode.dev</kbd>.</p>
  <p><strong>You are a person, not a revenue source.</strong></p>
  <p>I don't want your personal information. I don't make any money off of you, or this project. I just enjoy teaching, and I have the strong opinion that absolutely anyone can learn how to code.</p>
  <p>This app uses a technology stack, <a href="https://firebase.google.com/" rel="external" target="_blank">Firebase</a>, which processes your sign-in and credentials.  Any cookies or browser storage used are for Firebase, and not the app.</p>
  <p>When you first sign into the site, the app copies your "display name" from whatever sign-in provider you use. Often this will be your full name, or maybe just one of your names. I use this just to make it obvious that you're signed in, and in case you want to have multiple profiles for multiple learners. You can change this display name at any time on your Profile page, and I don't use it for any other reason.</p>
  <p>Technically, the app does have access to your email address for certain sign-in methods, such as Google or GitHub. I don't use it, nor do I explicitly store it. Firebase may keep your email address or other sign-in information to aid you signing in.</p>
  <p>That's it. It's that simple. The source code for the app is public on GitHub at <a href="https://github.com/rickosborne/allcode.dev/" target="_blank" rel="self">rickosborne/allcode.dev</a>, if you'd like to review it.</p>

</div>
