<div class="privacy-policy-wrapper">

  <p>Hi, my name is <a href="https://rickosborne.org" rel="self" target="_blank">Rick Osborne</a>. I'm an actual human, and the person who created this app: <kbd>allcode.dev</kbd>.</p>

  <h2>Policy</h2>
  <p>
    <strong>You are a person, not a revenue source.  I don't want your personal information.</strong>
    This app is coded to try to use as little of your information as possible. I don't make any money off of you, or this project.
    I just enjoy teaching, and I have the strong opinion that absolutely anyone can learn how to code.
  </p>
  <p>
    That's it.
    It's that simple.
    The source code for the app is public on GitHub at <a href="https://github.com/rickosborne/allcode.dev/" target="_blank" rel="self">rickosborne/allcode.dev</a>, if you'd like to review it.
  </p>

  <h2>Third-Party Technology</h2>
  <p>
    This app uses a third-party cloud technology stack, <a href="https://firebase.google.com/" rel="external" target="_blank">Firebase</a>, which processes your sign-in and credentials.
    Any cookies or browser storage used are for Firebase, and not the app.
    If you want to rectify or remediate any of that information, you'll need to contact Google or your sign-in (identity) provider, such as GitHub.
  </p>

  <h2>Personal Data Use</h2>
  <p>
    When you first sign into the site, the app copies your "display name" from whatever sign-in provider you use.
    Often this will be your full name, or maybe just one of your names.
    The app uses this just to make it obvious that you're signed in, and in case you want to have multiple profiles for multiple learners.
    You can change this display name at any time on your Profile page, and neither I nor the app use it for any other reason.
  </p>
  <p>
    Technically, the app does have access to your email address and some additional information for certain sign-in methods, such as Google or GitHub.
    If I log into the Firebase console, I could see some of this information.
    But honestly, truly, I don't want to see it, so I don't go looking for it.
    If you ask me for help resolving a problem I might go in there for that debugging purpose, but that's it.
    Firebase may keep your email address or other sign-in information to aid your sign-in process.
  </p>

  <h2>Do Not Sell My Personal Information</h2>
  <p>
    I don't.
    I won't.
    You don't need to opt out of anything, because I'm not interested in monetizing you.
  </p>

  <h2>GDPR Rights and Similar Controls</h2>
  <p>
    As stated above, the only personal information this app keeps in your profile is your display name.
    You can change this to anything, such as garbage data, if you want to remove it.
    This display name is not used for any other purpose, nor is it aggregated or replicated beyond what is needed to keep the app running.
  </p>
  <p>
    The app does also keep some non-personal behavioral interaction data: your lesson completion tracking.
    This completion data is generated through your explicit interactions with the app, such as clicking buttons or taking self-assessments.
    There is no personal information included with this completion data.
    You can't remove this data at this time.
  </p>

</div>
