:root {
	--amble-hue: 210;
	--amble-saturation: 40%;
	--amble-luminance: 90%;
	--amble-contrast: 20%;
  --amble-background-alpha: 100%;
	--amble-text-font-family: 'Roboto Condensed', 'Helvetica Neue', Roboto, 'Ubuntu Condensed', Ubuntu, Helvetica, sans-serif;
	--amble-code-font-family: 'Roboto Mono', 'Ubuntu Mono', Monaco, 'Courier New', Courier, monospace;
	--amble-font-size: calc(max(3vw, 1rem));
	--lighter-10: rgba(255, 255, 255, 0.1);
	--darker-10: rgba(0, 0, 0, 0.1);
  --lighter-20: rgba(255, 255, 255, 0.2);
  --lighter-50: rgba(255, 255, 255, 0.5);
	--darker-20: rgba(0, 0, 0, 0.2);
	--darker-50: rgba(0, 0, 0, 0.5);
	--darker-90: rgba(0, 0, 0, 0.9);
	--amble-pad: calc(var(--amble-font-size) * 0.25);
	--amble-half-pad: calc(var(--amble-pad) * 0.5);
	--amble-button-size: calc(var(--amble-font-size) * 1.3);
	--amble-desaturation: calc(var(--amble-saturation) * 0.5);
	--amble-mostly-contrast: calc(((var(--amble-contrast) * 2) + var(--amble-luminance)) * 0.33);
	--amble-background-color: hsla(var(--amble-hue), var(--amble-saturation), var(--amble-luminance), var(--amble-background-alpha));
	--amble-text-color: hsl(var(--amble-hue), var(--amble-desaturation), var(--amble-contrast));
	--amble-text-code-color: hsl(var(--amble-hue), var(--amble-saturation), var(--amble-mostly-contrast));
	--amble-icon-fg: hsla(var(--amble-hue), var(--amble-saturation), var(--amble-contrast), 50%);
	--amble-icon-fg-over: hsl(var(--amble-hue), var(--amble-desaturation), var(--amble-contrast));
  --amble-code-background-color: white;
	--amble-off-10: var(--darker-10);
	--amble-off-20: var(--darker-20);
}

@media screen {
	.amble-force-dark-color-scheme, :host(.color-scheme-dark) body, .color-scheme-dark body {
		--amble-luminance: 20%;
		--amble-contrast: 90%;
		--amble-desaturation: calc(var(--amble-saturation) * 0.5);
		--amble-mostly-contrast: calc(((var(--amble-contrast) * 2) + var(--amble-luminance)) * 0.33);
		--amble-background-color: hsla(var(--amble-hue), var(--amble-saturation), var(--amble-luminance), var(--amble-background-alpha));
		--amble-text-color: hsl(var(--amble-hue), var(--amble-desaturation), var(--amble-contrast));
		--amble-text-code-color: hsl(var(--amble-hue), var(--amble-saturation), var(--amble-mostly-contrast));
		--amble-icon-fg: hsla(var(--amble-hue), var(--amble-saturation), var(--amble-contrast), 50%);
		--amble-icon-fg-over: hsl(var(--amble-hue), var(--amble-desaturation), var(--amble-contrast));
    --amble-code-background-color: black;
		--amble-off-10: var(--lighter-10);
		--amble-off-20: var(--lighter-20);
	}
}

@media screen and (prefers-color-scheme: dark) {
  .color-scheme-detect body, :host(.color-scheme-detect) body {
		--amble-luminance: 20%;
		--amble-contrast: 90%;
		--amble-desaturation: calc(var(--amble-saturation) * 0.5);
		--amble-mostly-contrast: calc(((var(--amble-contrast) * 2) + var(--amble-luminance)) * 0.33);
		--amble-background-color: hsla(var(--amble-hue), var(--amble-saturation), var(--amble-luminance), var(--amble-background-alpha));
		--amble-text-color: hsl(var(--amble-hue), var(--amble-desaturation), var(--amble-contrast));
		--amble-text-code-color: hsl(var(--amble-hue), var(--amble-saturation), var(--amble-mostly-contrast));
		--amble-icon-fg: hsla(var(--amble-hue), var(--amble-saturation), var(--amble-contrast), 50%);
		--amble-icon-fg-over: hsl(var(--amble-hue), var(--amble-desaturation), var(--amble-contrast));
    --amble-code-background-color: black;
		--amble-off-10: var(--lighter-10);
		--amble-off-20: var(--lighter-20);
	}

	.amble-force-light-color-scheme, .color-scheme-light body, :host(.color-scheme-light) body {
		--amble-luminance: 90%;
		--amble-contrast: 20%;
		--amble-desaturation: calc(var(--amble-saturation) * 0.5);
		--amble-mostly-contrast: calc(((var(--amble-contrast) * 2) + var(--amble-luminance)) * 0.33);
		--amble-background-color: hsla(var(--amble-hue), var(--amble-saturation), var(--amble-luminance), var(--amble-background-alpha));
		--amble-text-color: hsl(var(--amble-hue), var(--amble-desaturation), var(--amble-contrast));
		--amble-text-code-color: hsl(var(--amble-hue), var(--amble-saturation), var(--amble-mostly-contrast));
		--amble-icon-fg: var(--amble-icon-fg-override, hsla(var(--amble-hue), var(--amble-saturation), var(--amble-contrast), 50%));
		--amble-icon-fg-over: var(--amble-icon-fg-over-override, hsl(var(--amble-hue), var(--amble-desaturation), var(--amble-contrast)));
    --amble-code-background-color: white;
		--amble-off-10: var(--darker-10);
		--amble-off-20: var(--darker-20);
	}
}

/* The following rules exist because some of the content is slotted, and CSS rules for slotted content make zero sense. */
amble-viewer > [slot] code,
amble-step > [slot] code,
amble-question > [slot] code,
.text-with-code code {
	color: var(--amble-text-code-color);
	font-family: var(--amble-code-font-family);
}

amble-button > button {
	outline: thin dotted green;
}
