:host {
	height: 100%;
	display: block;
	flex-grow: 1;
	color: #eee;
}

.amble-code-language {
	display: none;
	flex-direction: row;
	align-items: center;
}

:host(:hover) .amble-code-language,
:host(:focus) .amble-code-language {
	display: flex;
}

pre {
	margin: 0;
	padding: 0.5vw 1vw;
	overflow-x: auto;
	box-sizing: border-box;
	overflow-y: auto;
	max-height: 100%;
	max-width: 100%;
}

.annotation.punctuation {
	color: #a082bd;
}
.boolean {
	color: #3369ff;
}
.class-name {
	color: #7ed4e6;
}
.class-name .punctuation {
	color: #5a6e73;
}
.comment {
	color: #7d8c93;
}
.function {
	color: #e6a35c;
}
.generics > .class-name {
	color: #009de6;
}
.keyword {
	color: #e6e28a;
}
.builtin {
	color: #4595e6;
}
.namespace {
	color: #7eb2e6;
}
.number {
	color: #ffc400;
}
.operator {
	color: #e6d98a;
}
.punctuation {
	color: #ccc7a1;
}
.regex {
	color: #aaff00;
}
.string {
	color: #ff8000;
}
.variable {
	color: #e0e2e4;
}
.vstring.string {
	color: #cc6600;
}

.amble-code-window {
	position: relative;
	height: 100%;
}

.amble-code-language {
	position: absolute;
	max-width: 100%;
	bottom: 0;
	right: 0;
	background-color: var(--lighter-10);
	color: #ccc;
	user-select: none;
	font-size: 70%;
	line-height: 130%;
	border-top-left-radius: var(--amble-pad);
	font-family: var(--amble-text-font-family);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.amble-code-language label {
	padding: 0 var(--amble-pad);
}

.amble-code-language:hover,
.amble-code-language:focus {
	background-color: rgba(48, 48, 48, 0.9);
}

.amble-code-language amble-button {
	width: 1em;
	height: auto;
	padding: 0;
}

amble-button svg {
	width: 100%;
	height: auto;
}

.amble-icon .fg,
.amble-icon path {
	stroke: none;
	fill: var(--amble-icon-fg);
}

amble-button:hover .amble-icon path,
amble-button:focus .amble-icon path {
	fill: var(--amble-icon-fg-over);
	filter: drop-shadow(0 0 0.5px var(--amble-icon-fg-over));
}

.highlight {
	display: inline-block;
	box-shadow: inset 0 0 1em #afa;
	border-radius: 1em;
	border: 0.25vw solid rgba(128, 255, 128, 0.8);
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: -0.25vw calc(-0.25vw + -0.5em);
	box-sizing: border-box;
}

.amble-code-no-nav .amble-code-language-prev,
.amble-code-no-nav .amble-code-language-next {
	display: none;
}
