:host {
  --color: #333;
  --language-background-color: var(--darker-10);
  --language-color: var(--darker-50);
  --annotation-punctuation-color: var(--color);
  --boolean-color: #2954cc;
  --builtin-color: #3674b3;
  --class-name-color: #62a5b3;
  --class-name-punctuation-color: #5a6e73;
  --comment-color: #7d8c93;
  --function-color: #e6a35c;
  --generics-class-name-color: #009de6;
  --important-color: #ff6666;
  --keyword-color: hsl(var(--amble-hue), var(--amble-saturation), var(--amble-mostly-contrast)); /* #998c00 */
  --namespace-color: #7eb2e6;
  --number-color: #cc9c00;
  --operator-color: #998500;
  --punctuation-color: #999579;
  --regex-color: #669900;
  --selector-color: #663300;
  --string-color: #994d00;
  --variable-color: #e0e2e4;
  --vstring-string-color: #b35900;
  --highlight-border-radius: 0;
  --highlight-shadow-color: hsl(calc(var(--amble-hue) + 120), var(--amble-saturation), var(--amble-mostly-contrast)); /* #ff6; */
  --highlight-border-color: hsl(calc(var(--amble-hue) + 120), var(--amble-saturation), var(--amble-mostly-contrast)); /* rgba(255, 255, 96, 0.8); */
}

:host {
	height: 100%;
	display: block;
	flex-grow: 1;
	color: var(--color);
}

.amble-code-language {
	display: none;
	flex-direction: row;
	align-items: center;
}

:host(:hover) .amble-code-language,
:host(:focus) .amble-code-language {
	display: flex;
}

pre {
	margin: 0;
	padding: 0.5vw 1vw;
	overflow-x: auto;
	box-sizing: border-box;
	overflow-y: auto;
	max-height: 100%;
	max-width: 100%;
  line-height: 1.2em;
  scrollbar-color: light;
  font-family: var(--font-family-code);
}
code {
  font-family: var(--font-family-code);
}

.amble-code-window {
	position: relative;
	height: 100%;
  background-color: var(--amble-code-background-color, white);
}

.amble-code-language {
	position: absolute;
	max-width: 100%;
	bottom: 0;
	right: 0;
	background-color: var(--language-background-color);
	color: var(--language-color);
	user-select: none;
	font-size: calc(max(70%, 1rem));
	line-height: 130%;
	border-top-left-radius: var(--amble-pad);
	font-family: var(--amble-text-font-family);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.amble-code-language label {
	padding: 0 var(--amble-pad);
}

.amble-code-language:hover,
.amble-code-language:focus {
  color: #555;
}

.amble-code-language amble-button {
	width: 1em;
	height: auto;
	padding: 0;
}

amble-button svg {
	width: 100%;
	height: auto;
}

.amble-icon .fg,
.amble-icon path {
	stroke: none;
	fill: var(--amble-icon-fg);
}

amble-button:hover .amble-icon path,
amble-button:focus .amble-icon path {
	fill: var(--amble-icon-fg-over);
	filter: drop-shadow(0 0 0.5px var(--amble-icon-fg-over));
}


.highlight {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: -0.25vw calc(-0.25vw + -0.5em);
  box-sizing: border-box;
}

.amble-code-no-nav .amble-code-language-prev,
.amble-code-no-nav .amble-code-language-next {
  display: none;
}

.annotation.punctuation { color: var(--annotation-punctuation-color); }
.boolean { color: var(--boolean-color); }
.class-name { color: var(--class-name-color); }
.class-name .punctuation { color: var(--class-name-punctuation-color); }
.comment, .prolog, .doctype, .cdata { color: var(--comment-color); }
.function, .property { color: var(--function-color); }
.generics > .class-name { color: var(--generics-class-name-color); }
.keyword { color: var(--keyword-color); }
.builtin { color: var(--builtin-color); }
.namespace, .entity, .url, .attr-value, .control, .directive, .unit, .statement, .atrule { color: var(--namespace-color); }
.number { color: var(--number-color); }
.operator, .tag { color: var(--operator-color); }
.punctuation { color: var(--punctuation-color); }
.regex { color: var(--regex-color); }
.string { color: var(--string-color); }
.variable, .placeholder { color: var(--variable-color); }
.vstring.string { color: var(--vstring-string-color); }
.selector, .tag-id, .atrule-id, .attr-name { color: var(--selector-color); }
.important { color: var(--important-color); }

.highlight {
  border-radius: var(--highlight-border-radius, 0);
  box-shadow: inset 0 0 1em var(--highlight-shadow-color);
  border: 0.25vw solid var(--highlight-border-color);
}

.deleted { text-decoration: line-through; }
.inserted { border-bottom: 1px dotted rgba(127,127,127,0.5); text-decoration: none; }

pre { scrollbar-color: rgba(127, 127, 127, 0.5) transparent; }
pre ::-webkit-scrollbar-track {
  background-color: transparent;
  color: rgba(127, 127, 127, 0.5);
}

@media screen and (prefers-color-scheme: dark) {
  :host(.color-scheme-detect) {
    --color: #eee;
    --language-background-color: var(--lighter-20);
    --language-color: var(--lighter-50);
    --annotation-punctuation-color: #a082bd;
    --boolean-color: #3369ff;
    --class-name-color: #7ed4e6;
    --class-name-punctuation-color: #5a6e73;
    --comment-color: #7d8c93;
    --function-color: #e6a35c;
    --generics-class-name-color: #009de6;
    --keyword-color: hsl(var(--amble-hue), var(--amble-saturation), var(--amble-mostly-contrast));
    --builtin-color: #4595e6;
    --namespace-color: #7eb2e6;
    --number-color: #ffc400;
    --operator-color: #e6d98a;
    --punctuation-color: #ccc7a1;
    --regex-color: #aaff00;
    --string-color: #ff8000;
    --variable-color: #e0e2e4;
    --vstring-string-color: #cc6600;
    --highlight-border-radius: 1em;
    --highlight-shadow-color: hsl(calc(var(--amble-hue) + 120), var(--amble-saturation), var(--amble-mostly-contrast)); /* #afa; */
    --highlight-border-color: hsl(calc(var(--amble-hue) + 120), var(--amble-saturation), var(--amble-mostly-contrast)); /* rgba(128, 255, 128, 0.8); */
    --selector-color: #884400;
    --important-color: #ff6666;
  }
}

:host(.color-scheme-dark) {
  --color: #eee;
  --language-background-color: var(--lighter-20);
  --language-color: var(--lighter-50);
  --annotation-punctuation-color: #a082bd;
  --boolean-color: #3369ff;
  --class-name-color: #7ed4e6;
  --class-name-punctuation-color: #5a6e73;
  --comment-color: #7d8c93;
  --function-color: #e6a35c;
  --generics-class-name-color: #009de6;
  --keyword-color: #e6e28a;
  --builtin-color: #4595e6;
  --namespace-color: #7eb2e6;
  --number-color: #ffc400;
  --operator-color: #e6d98a;
  --punctuation-color: #ccc7a1;
  --regex-color: #aaff00;
  --string-color: #ff8000;
  --variable-color: #e0e2e4;
  --vstring-string-color: #cc6600;
  --highlight-border-radius: 1em;
  --highlight-shadow-color: #afa;
  --highlight-border-color: rgba(128, 255, 128, 0.8);
  --selector-color: #884400;
  --important-color: #ff6666;
}
