<h1>Learn Coding Concepts</h1>

<p>
  Anyone can learn how to read and write code.
  AllCode teaches you how to read and understand code in the most common programming languages.
  Focusing on the commonalities and differences between them helps you to <strong>see beyond the syntax</strong>.
</p>

<h1>Multiple Languages</h1>

<p>
  Code has <strong>syntax</strong>, what it looks like, and <strong>semantics</strong>, how it works.
  While syntax is different for every language, most languages share common semantics.
  But new learners trip over syntax because it's all new!
  AllCode walks you through the same functional code in multiple languages at once, so the syntax falls away.
</p>

<h1>Free Forever</h1>

<p>
  Everyone should have access to learn how to code.
  AllCode does not require a subscription, or even an account.
  You can use your existing third-party identity to track your progress, but only if you want.
</p>
