.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  padding: 0.25em;

  &:hover, &:focus, &.active {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &.inactive {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: thin dotted lightyellow;
  }

  &.no-wrap {
    white-space: nowrap;
  }

  &[disabled] {
    cursor: default;

    &:hover {
      background-color: inherit;
    }

    .material-icons {
      opacity: 50%;
    }
  }
}

.material-icons, .icon-button {
  font-size: inherit;
  color: inherit;
}
