pre {
  margin: 0;
  padding: 0.5vw 1vw;
  overflow-x: auto;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 100%;
  max-width: 100%;
}

.annotation.punctuation { color: #A082BD; }
.boolean { color: #3369ff; }
.class-name { color: #7ED4E6; }
.class-name .punctuation { color: #5a6e73; }
.comment { color: #7D8C93; }
.function { color: #e6a35c; }
.generics > .class-name { color: #009DE6; }
.keyword { color: #e6e28a; }
.builtin { color: #4595e6; }
.namespace { color: #7EB2E6; }
.number { color: #FFC400; }
.operator { color: #E6D98A; }
.punctuation { color: #ccc7a1; }
.regex { color: #AAFF00; }
.string { color: #FF8000; }
.variable { color: #E0E2E4; }
.vstring.string { color: #cc6600; }

.amble-code-window {
  position: relative;
  height: 100%;
}

.amble-code-language {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  right: 0;
  background-color: rgba(32, 32, 32, 0.9);
  color: #ccc;
  user-select: none;
  font-size: 70%;
  line-height: 100%;
  border-top-left-radius: 1em;

  label {
    padding-left: 1em;
  }

  &:hover, &:focus {
    background-color: rgba(48, 48, 48, 0.9);
  }

  .icon-button {
    display: inline-block;
    height: 100%;
    line-height: inherit;
  }
}

.highlight {
  display: inline-block;
  background-color: rgba(255, 255, 0, 0.1);
  box-shadow: 0 0 1em rgba(255, 255, 0, 0.5);
  border-radius: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: -0.5em;
  margin-right: -0.5em;
  box-sizing: border-box;
}
