<h1>Loop Basics</h1>

<p>TODO: Add some explanation of basic loop concepts and syntax here.</p>

<amble
  descriptionMarkdown="Use a number counter and a `while` loop to repeat 5 times."
  titleMarkdown="Counting with a `while` loop"
>
  <!-- https://github.com/angular/angular/issues/11859 -->
  <amble-code [languageIds]="['java','c','cpp','csharp']" [source]="sources.java"></amble-code>
  <amble-code [source]="sources.typescript" languageId="typescript"></amble-code>
  <amble-code [source]="sources.php" languageId="php"></amble-code>
  <amble-code [source]="sources.perl" languageId="perl"></amble-code>
  <amble-code [source]="sources.perl" languageId="perl"></amble-code>
  <amble-code [source]="sources.bash" languageId="bash"></amble-code>
  <amble-code [source]="sources.basic" languageId="basic"></amble-code>
  <amble-code [source]="sources.pascal" languageId="pascal"></amble-code>
  <amble-code [source]="sources.python" languageId="python"></amble-code>
  <amble-code [source]="sources.js" languageId="js"></amble-code>
  <amble-step stepKey="define">
    <amble-text slot="description">A variable is defined to hold the count.</amble-text>
    <amble-text slot="extra">There's nothing magical about the name of the variable here.  Instead of `count`, you could use `fingers` or `place` or whatever makes the most sense to you.</amble-text>
    <source-ref selector=".variable-count-1, .bare-count-1"></source-ref>
    <lesson-ref readable="Variables" slug="/learn/variables"></lesson-ref>
  </amble-step>
  <amble-step stepKey="initialize">
    <amble-text slot="description">The variable is initialized with the numeric value of `1`.</amble-text>
    <source-ref selector=".number-1-1"></source-ref>
    <lesson-ref readable="Variables" slug="/learn/variables"></lesson-ref>
  </amble-step>
  <amble-step stepKey="while">
    <amble-text slot="description">The `while` keyword starts a loop block.</amble-text>
    <source-ref selector=".keyword-while"></source-ref>
  </amble-step>
  <amble-step stepKey="expression">
    <amble-text slot="description">A Boolean expression is evaluated at the start of each iteration (repeat) of the loop.</amble-text>
    <source-ref selector=".line-2"></source-ref>
    <lesson-ref readable="Boolean Expressions" slug="/learn/boolean-expressions"></lesson-ref>
    <lesson-ref readable="Expression Evaluation" slug="/learn/expression-evaluation"></lesson-ref>
  </amble-step>
  <amble-step stepKey="evaluate">
    <amble-text slot="description">The *condition* evaluates to `true` as long as the value of the count is less than or equal to the number `5`.</amble-text>
    <source-ref selector=".line-2"></source-ref>
    <lesson-ref readable="Boolean Expressions" slug="/learn/boolean-expressions"></lesson-ref>
  </amble-step>
  <amble-step stepKey="block">
    <amble-text slot="description">The loop body is a *block* which will get executed if the condition evaluates to `true`.</amble-text>
    <amble-text slot="extra">This block is very simple and only does one thing.  Blocks can do much more than this, and may do many things one after another.</amble-text>
    <source-ref selector=".line-4" languageId="pascal"></source-ref>
    <source-ref selector=".line-3"></source-ref>
    <lesson-ref readable="Blocks" slug="learn/blocks"></lesson-ref>
  </amble-step>
  <amble-step stepKey="increment">
    <amble-text slot="description">The loop body increments (adds `1` to) the count variable.</amble-text>
    <source-ref selector=".operator-coloneq-2" languageId="pascal"></source-ref>
    <source-ref selector=".operator-plusplus, .line-3 .operator-eq, .operator-plus+.operator-plus"></source-ref>
    <lesson-ref readable="Increment and Decrement" slug="/learn/increment-and-decrement"></lesson-ref>
  </amble-step>
  <amble-question explanationKey="initialize">
    <amble-text slot="question">The first time the condition is evaluated, what is the value of the `count` variable?</amble-text>
    <amble-text slot="answer">`1`</amble-text>
    <amble-text slot="rationale">The count variable is initialized with a value of `1`.  This value is not modified before the loop begins.</amble-text>
    <source-ref selector=".number-1-1"></source-ref>
    <lesson-ref readable="Variables" slug="/learn/variables"></lesson-ref>
  </amble-question>
  <amble-question>
    <amble-text slot="question">When the condition eventually evaluates to `false`, what is the value of the `count` variable?</amble-text>
    <amble-text slot="answer">`6`</amble-text>
    <amble-text slot="rationale">The first time through the loop, the count starts at `1` and is incremented to `2`.  Next time through, the count is modified from `2` to `3`, then `3` to `4`, and `4` to `5`.  Because the condition expression evaluates as `true` when the count is `5`, the loop body runs a fifth time.  In that fifth time through, the count is incremented from `5` to `6`.  When the condition is evaluated again, it is now `false` as `6` is not less than or equal to `5`.</amble-text>
  </amble-question>
  <amble-question highlightAnswer="block">
    <amble-text slot="question">Which parts of the code are repeated in the loop?</amble-text>
    <amble-text slot="answer">The loop body, which is a block and could have many lines of code, will be executed each time the loop is repeated.</amble-text>
    <source-ref selector=".line-4" languageId="pascal"></source-ref>
    <source-ref selector=".line-3"></source-ref>
    <lesson-ref readable="Blocks" slug="learn/blocks"></lesson-ref>
  </amble-question>
  <amble-question highlightQuestion="expression" highlightWhen="Question">
    <amble-text slot="question">How many times would the loop execute if you changed the expression from "less than or equal" to just "less than"?</amble-text>
    <amble-text slot="answer">`4`</amble-text>
    <amble-text slot="rationale">The first time through the loop, the count starts at `1` and is incremented to `2`.  Next time through, the count is modified from `2` to `3`, then `3` to `4`, and `4` to `5`.  When the condition is evaluated, `5` is no longer &ldquo;less than&rdquo; `5`, so the condition is `false` and the loop does not run the fifth time.</amble-text>
    <source-ref selector=".operator-lte"></source-ref>
  </amble-question>
  <amble-question highlightQuestion="increment" highlightWhen="Question">
    <amble-text slot="question">What would happen if you did not increment the count variable inside the loop body?</amble-text>
    <amble-text slot="answer">The count would never change, leading to an infinite loop.</amble-text>
    <amble-text slot="rationale">The count variable is initialized with the value `1`.  If it is never updated within the loop, that value of `1` will never change, and the expression &ldquo;`1` is less than or equal to `5`&rdquo; will always be `true`. Since the condition is always `true`, the loop will never end.</amble-text>
    <source-ref selector=".operator-coloneq-2" languageId="pascal"></source-ref>
    <source-ref selector=".operator-plusplus, .line-3 .operator-eq, .operator-plus+.operator-plus"></source-ref>
  </amble-question>
</amble>

<p>TODO: Add some next steps here.</p>
