/* latin */
@font-face {
  font-family: body-text-serif;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Gentium Plus"), local("Gentium"), local("Roboto Slab"), local("Cambria"), local("Gentium Basic"), local("Gentium Book Basic"), url(https://fonts.gstatic.com/s/gentiumbasic/v12/WnzjHAw9aB_JD2VGQVR80We3LAi5iho7QoCBZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: body-text-serif;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Gentium Plus"), local("Gentium"), local("Roboto Slab"), local("Cambria"), local("Gentium Basic"), local("Gentium Book Basic"), local("Gentium Plus"), local("Gentium"), local("Roboto Slab"), local("Cambria"), local("Gentium Basic"), local("Gentium Book Basic"), url(https://fonts.gstatic.com/s/gentiumbasic/v12/WnzmHAw9aB_JD2VGQVR80We3LAixMT8ub6KMThZGkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: body-text-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Gentium Plus"), local("Gentium"), local("Roboto Slab"), local("Cambria"), local("Gentium Basic"), local("Gentium Book Basic"), url(https://fonts.gstatic.com/s/gentiumbasic/v12/Wnz9HAw9aB_JD2VGQVR80We3LA2JiBA8YII.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: body-text-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Gentium Plus"), local("Gentium"), local("Roboto Slab"), local("Cambria"), local("Gentium Basic"), local("Gentium Book Basic"), url(https://fonts.gstatic.com/s/gentiumbasic/v12/WnzgHAw9aB_JD2VGQVR80We3JLasnT0ebaiLbBQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: body-text-sans;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Open Sans"), local("Noto Sans"), local("Helvetica Neue"), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzIXKMny.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: body-text-sans;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto"), local("Open Sans"), local("Noto Sans"), local("Helvetica Neue"), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic6CsTYl4BO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: body-text-sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Open Sans"), local("Noto Sans"), local("Helvetica Neue"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: body-text-sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto"), local("Open Sans"), local("Noto Sans"), local("Helvetica Neue"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root {
  --body-background-color: #eee;
  --body-color: #222;
  --a-color: #369;
  --visited-color: #246;
  --hover-color: #48c;
  --active-color: #306090;
  --font-family-header: "Roboto Condensed", body-text-sans;
  --font-weight-header: bold;
  --font-family-body: "body-text-serif", serif;
  --font-family-sans: "body-text-sans", system-ui, -apple-system, sans-serif;
  --font-family-sans-thin: "Roboto Condensed", var(--font-family-sans);
  --font-family-code: "Roboto Mono", "JetBrains Mono", "Source Code Pro", "Fira Mono", Inconsolata, "Ubuntu Mono", Monaco, monospace;
}

html, body {
  min-height: 100vh;
  box-sizing: border-box;
  scrollbar-color: rgba(127, 127, 127, 0.5) transparent;
}
::-webkit-scrollbar {
  width: 0.75em;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.375em;
  background-color: rgba(127, 127, 127, 0.5);
}
body {
  font-family: var(--font-family-body);
  line-height: 130%;
  font-size: calc(max(100%, 2vw));
  max-width: 80em;
  margin: 0 auto;
}
.body-font-sans body {
  --font-family-body: body-text-sans;
  font-family: var(--font-family-body);
}
.body-font-system body {
  --font-family-body: system-ui, -apple-system, sans-serif;
  font-family: var(--font-family-body);
}
@media screen {
  body, .color-scheme-light body {
    background-color: var(--body-background-color);
    color: var(--body-color);
    --amble-hue: 208;
    --amble-background-alpha: 50%;
    --amble-text-color: black;
    --amble-text-code-color: #369;
    --amble-icon-fg: #246;
    --amble-icon-fg-over: #48c;
    --amble-icon-fg-override: #246;
    --amble-icon-fg-over-override: #48c;
    --amble-body-background-color: rgba(127, 127, 127, 0.05);
    --amble-code-background-color: white;
  }
}
article {
  padding: 1rem;
  min-height: calc(100vh - 12.2rem);
}
article > * {
  max-width: 45rem;
  margin: 0 auto;
}
article > amble-viewer {
  max-width: 100%;
}
amble-viewer {
  display: block;
  margin: 1.3em auto;
  border-top: thin solid rgba(127, 127, 127, 0.5);
  border-bottom: thin solid rgba(127, 127, 127, 0.5);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-header);
}
article h1, article h2, article h3, article h4, article h5, article h6 {
  margin-top: 1.95rem;
  margin-bottom: 1.95rem;
}
article h1:first-child, article h2:first-child, article h3:first-child, article h4:first-child, article h5:first-child, article h6:first-child {
  margin-top: 0;
}
h1 { font-size: 150%; }
h2 { font-size: 140%; }
h3 { font-size: 130%; }
h4 { font-size: 120%; }
h5 { font-size: 110%; }
h6 { font-size: 105%; }

p, ul, ol, dl {
  margin: 1.3rem auto;
}
li {
  margin: 0.65rem 0 0.65rem 0.65rem;
}
dd {
  margin: 1.3rem 0 1.3rem 2.6rem;
}
dd ~ dd {
  margin-top: 1.3rem;
}
pre, code {
  color: var(--amble-text-code-color, inherit);
  font-family: var(--font-family-code);
}
a { color: var(--a-color); }
a:visited { color: var(--visited-color); }
a:active { color: var(--active-color); }
a:hover { color: var(--hover-color); }

blockquote {
  box-sizing: border-box;
  color: var(--amble-icon-fg);
  font-size: calc(min(4vw, 150%));
  line-height: 130%;
  padding-left: 1.5em;
  position: relative;
  margin: 1.95rem auto;
}
blockquote::before {
  content: "â";
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 200%;
}

.site-header {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 1.7em;
  position: -webkit-sticky;
  position: sticky;
  font-family: var(--font-family-sans-thin);
  padding: 0 0.5rem;
  background-color: rgba(32, 64, 96, 0.95);
  box-shadow: 0 0 0.65em #123;
  color: #ddd;
  --amble-background-alpha: 0.95;
  --amble-background-color: hsla(var(--amble-hue), var(--amble-saturation), var(--amble-luminance), var(--amble-background-alpha));
}

.site-header, #site-header-settings, .site-footer {
  box-sizing: border-box;
}
.site-header, .site-header-nav {
  display: flex;
  flex-direction: row;
}
.site-header img, .site-header svg {
  height: 1.3em;
  width: 1.3em;
}
.site-header a, .site-footer a {
  color: #abd5ff;
  text-decoration: none;
}
.site-header a:hover, .site-header a:focus, .site-footer a:hover, .site-footer a:focus {
  color: #d6f1ff;
  text-decoration: underline;
}
.expando {
  flex-grow: 1;
}
.site-header-settings-control {
  position: fixed;
  top: 0;
  right: 0.5em;
  bottom: 0;
}
.site-header-nav > *, #site-header-settings-label {
  display: block;
  padding: 0.2em;
  line-height: 1.3em;
}
#site-header-settings-checkbox[type=checkbox] {
  display: none;
}
#site-header-settings-matte {
  display: none;
  background-color: var(--amble-off-10, rgba(127, 127, 127, 0.2));
  position: fixed;
  box-sizing: border-box;
  border: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 800;
}
#site-header-settings-checkbox[type=checkbox]:checked ~ .site-header-settings-open {
  display: block;
}
#site-header-settings {
  position: absolute;
  top: 1.7em;
  right: 0;
  min-width: 20em;
  max-width: 20em;
  max-height: calc(100% - 1.7em);
  border: thin solid #246;
  display: none;
  background-color: rgba(32, 64, 96, 0.975);
  box-shadow: 0 0 0.65em rgba(16, 32, 48, 0.8);
  padding: 1rem;
  z-index: 900;
  overflow: auto;
}
#site-header-settings fieldset {
  border: none;
  margin: 1.3rem 0;
  padding: 0;
}
#site-header-settings .allcode-style-selector {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#site-header-settings h1 {
  font-size: 125%;
  line-height: 1.3em;
  margin: 0 0 0.65em 0;
  font-family: var(--font-family-sans-thin);
  font-weight: normal;
}
.site-footer {
  min-height: 1.7em;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-top: 1.95em;
  font-size: calc(max(1rem, 80%));
  font-family: var(--font-family-sans-thin);
  background-color: rgba(32, 32, 32, 0.95);
  box-shadow: 0 0 0.65em #111;
  color: #999;
}

@media print {
  html, body {
    background-color: white;
  }
  a {
    color: blue !important;
    text-decoration: underline !important;
  }
  .site-header, .site-footer {
    background-color: transparent;
    box-shadow: none;
  }
  .site-footer {
    border-top: thin solid #ddd;
  }
  article {
    min-height: unset;
  }
}

@media screen and (prefers-color-scheme: dark) {
  .color-scheme-detect {
    --body-background-color: black;
    --body-color: #eee;
    --a-color: #5af;
    --visited-color: #50a0f0;
    --hover-color: #6cf;
    --active-color: #50a0f0;
  }

  .color-scheme-detect body {
    --amble-text-code-color: #6cf;
    --amble-background-alpha: 50%;
    --amble-text-color: #ddd;
    --amble-icon-fg: #48c;
    --amble-icon-fg-over: #5ae;
    --amble-background-color: hsla(var(--amble-hue), var(--amble-saturation), var(--amble-luminance), var(--amble-background-alpha));
    --amble-icon-fg-override: #48c;
    --amble-icon-fg-over-override: #5ae;
  }
}

.color-scheme-dark {
  --body-background-color: black;
  --body-color: #eee;
  --a-color: #5af;
  --visited-color: #50a0f0;
  --hover-color: #6cf;
  --active-color: #50a0f0;
}

.color-scheme-dark body {
  --amble-text-code-color: #6cf;
  --amble-background-alpha: 50%;
  --amble-text-color: #ddd;
  --amble-icon-fg: #48c;
  --amble-icon-fg-over: #5ae;
  --amble-background-color: hsla(var(--amble-hue), var(--amble-saturation), var(--amble-luminance), var(--amble-background-alpha));
  --amble-icon-fg-override: #48c;
  --amble-icon-fg-over-override: #5ae;
}
