:root {
  --body-background-color: #eee;
  --body-color: #222;
  --a-color: #369;
  --visited-color: #246;
  --hover-color: #48c;
  --active-color: #306090;
  --font-family-header: "Roboto Condensed", Roboto, "Helvetica Neue", Calibri, Tahoma, Helvetica, Arial, sans-serif;
  --font-weight-header: bold;
  --font-family-body: "Gentium Plus", Gentium, "Roboto Slab", Cambria, "Times New Roman", Times, serif;
  --font-family-sans: Roboto, "Helvetica Neue", Calibri, Tahoma, Helvetica, Arial, sans-serif;
  --font-family-sans-thin: "Roboto Condensed", var(--font-family-sans);
}

html, body {
  min-height: 100vh;
  box-sizing: border-box;
  scrollbar-color: rgba(127, 127, 127, 0.5) transparent;
}
::-webkit-scrollbar {
  width: 0.75em;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.375em;
  background-color: rgba(127, 127, 127, 0.5);
}
@media screen {
  body, .color-scheme-light body {
    max-width: 80em;
    margin: 0 auto;
    background-color: var(--body-background-color);
    color: var(--body-color);
    line-height: 130%;
    font-size: calc(max(100%, 2vw));
    font-family: var(--font-family-body);
    --amble-hue: 208;
    --amble-background-alpha: 50%;
    --amble-text-color: black;
    --amble-text-code-color: #369;
    --amble-icon-fg: #246;
    --amble-icon-fg-over: #48c;
    --amble-icon-fg-override: #246;
    --amble-icon-fg-over-override: #48c;
    --amble-body-background-color: rgba(127, 127, 127, 0.05);
    --amble-code-background-color: white;
  }
}
article {
  padding: 1rem;
  min-height: calc(100vh - 12.2rem);
}
article > * {
  max-width: 45rem;
  margin: 0 auto;
}
article > amble-viewer {
  max-width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;
}
amble-viewer {
  display: block;
  margin: 1.3em auto;
  border-top: thin solid rgba(127, 127, 127, 0.5);
  border-bottom: thin solid rgba(127, 127, 127, 0.5);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-header);
}
article h1, article h2, article h3, article h4, article h5, article h6 {
  margin-top: 1.95rem;
  margin-bottom: 1.95rem;
}
article h1:first-child, article h2:first-child, article h3:first-child, article h4:first-child, article h5:first-child, article h6:first-child {
  margin-top: 0;
}
h1 { font-size: 150%; }
h2 { font-size: 140%; }
h3 { font-size: 130%; }
h4 { font-size: 120%; }
h5 { font-size: 110%; }
h6 { font-size: 105%; }

p, ul, ol, dl {
  margin: 1.3rem auto;
}
li {
  margin: 0.65rem 0 0.65rem 0.65rem;
}
dd {
  margin: 1.3rem 0 1.3rem 2.6rem;
}
dd ~ dd {
  margin-top: 1.3rem;
}
code {
  color: var(--amble-text-code-color, inherit);
}
a { color: var(--a-color); }
a:visited { color: var(--visited-color); }
a:active { color: var(--active-color); }
a:hover { color: var(--hover-color); }

blockquote {
  box-sizing: border-box;
  color: var(--amble-icon-fg);
  font-size: calc(min(4vw, 150%));
  line-height: 130%;
  padding-left: 1.5em;
  position: relative;
  margin: 1.95rem auto;
}
blockquote::before {
  content: "❝";
  display: inline;
  position: absolute;
  top: 0;
  left: 0em;
  font-size: 200%;
}

.site-header {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 1.7em;
  position: -webkit-sticky;
  position: sticky;
  font-family: var(--font-family-sans-thin);
  padding: 0 0.5rem;
  background-color: rgba(32, 64, 96, 0.95);
  box-shadow: 0 0 0.65em #123;
  color: #ddd;
  --amble-background-alpha: 0.95;
  --amble-background-color: hsla(var(--amble-hue), var(--amble-saturation), var(--amble-luminance), var(--amble-background-alpha));
}

.site-header, #site-header-settings, .site-footer {
  box-sizing: border-box;
}
.site-header, .site-header-nav {
  display: flex;
  flex-direction: row;
}
.site-header img, .site-header svg {
  height: 1.3em;
  width: 1.3em;
}
.site-header a, .site-footer a {
  color: #abd5ff;
  text-decoration: none;
}
.site-header a:hover, .site-header a:focus, .site-footer a:hover, .site-footer a:focus {
  color: #d6f1ff;
  text-decoration: underline;
}
.expando {
  flex-grow: 1;
}
.site-header-nav > *, #site-header-settings-label {
  display: block;
  padding: 0.2em;
  line-height: 1.3em;
}
#site-header-settings-checkbox[type=checkbox] {
  display: none;
}
#site-header-settings-checkbox[type=checkbox]:checked ~ #site-header-settings {
  display: block;
}
#site-header-settings {
  position: absolute;
  top: 1.7em;
  right: 0;
  max-width: 20em;
  border: thin solid var(--lighter-20);
  display: none;
  background-color: rgba(224, 224, 224, 0.95);
}
#site-header-settings > * {
  padding-left: 0.5rem;
}
#site-header-settings h1 {
  line-height: 1.3em;
  margin: 0 0 0.65em 0;
}
.site-footer {
  min-height: 1.7em;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-top: 1.95em;
  font-size: calc(max(1rem, 80%));
  font-family: var(--font-family-sans-thin);
  background-color: rgba(32, 32, 32, 0.95);
  box-shadow: 0 0 0.65em #111;
  color: #999;
}

@media print {
  html, body {
    background-color: white;
  }
  a {
    color: blue !important;
    text-decoration: underline !important;
  }
  .site-header, .site-footer {
    background-color: transparent;
    box-shadow: none;
  }
  .site-footer {
    border-top: thin solid #ddd;
  }
  article {
    min-height: unset;
  }
}

@media screen and (prefers-color-scheme: dark) {
  .color-scheme-detect {
    --body-background-color: black;
    --body-color: #eee;
    --a-color: #5af;
    --visited-color: #50a0f0;
    --hover-color: #6cf;
    --active-color: #50a0f0;
  }

  .color-scheme-detect body {
    --amble-text-code-color: #6cf;
    --amble-background-alpha: 50%;
    --amble-text-color: #ddd;
    --amble-icon-fg: #48c;
    --amble-icon-fg-over: #5ae;
    --amble-background-color: hsla(var(--amble-hue), var(--amble-saturation), var(--amble-luminance), var(--amble-background-alpha));
    --amble-icon-fg-override: #48c;
    --amble-icon-fg-over-override: #5ae;
  }
}

.color-scheme-dark {
  --body-background-color: black;
  --body-color: #eee;
  --a-color: #5af;
  --visited-color: #50a0f0;
  --hover-color: #6cf;
  --active-color: #50a0f0;
}

.color-scheme-dark body {
  --amble-text-code-color: #6cf;
  --amble-background-alpha: 50%;
  --amble-text-color: #ddd;
  --amble-icon-fg: #48c;
  --amble-icon-fg-over: #5ae;
  --amble-background-color: hsla(var(--amble-hue), var(--amble-saturation), var(--amble-luminance), var(--amble-background-alpha));
  --amble-icon-fg-override: #48c;
  --amble-icon-fg-over-override: #5ae;
}
