@import "../../allcode-colors";

.amble {
  display: flex;
  flex-direction: column;
  position: relative;

  .amble-header {
    flex-basis: fit-content;
    display: flex;
    flex-direction: column;
    background-color: mat-color($allcode-dev-accent, 400);
    color: mat-contrast($allcode-dev-accent, 400);
    border-top: thin solid mat-color($allcode-dev-accent, 600);
    border-bottom: thin solid mat-color($allcode-dev-accent, 200);
  }

  &.amble-step-mode .amble-header, &.amble-quiz-mode .amble-header {
    background-color: #555;
    color: #ccc;
    border-top: thin solid #777;
    border-bottom: thin solid #444;

    text-with-code code {
      color: #eee;
    }

    icon-radio .icon-button.active {
      color: mat-color($allcode-dev-primary, A700);
      border-color: mat-color($allcode-dev-primary, A700);
    }
  }

  icon-radio {
    //border-right: thin solid rgba(255, 255, 255, 0.1);
    //border-left: thin solid rgba(0, 0, 0, 0.1);

    .icon-button {
      background-color: transparent;
      border-bottom: 0.1em solid transparent;
      border-top: 0.1em solid transparent;

      &:hover, &:focus {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &.inactive {
        background-color: transparent;
        //border-color: rgba(0, 0, 0, 0.1);
      }

      &.active {
        color: mat-color($allcode-dev-accent, A700);
        text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5);
        border-color: mat-color($allcode-dev-accent, A700);
      }
    }
  }

  .amble-title {
    padding: 0 1vw;
  }

  text-with-code code {
    color: mat-color($allcode-dev-accent, A700);
  }

  .amble-nav, .amble-walk, .amble-quiz {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .amble-description {
    padding: 0 1vw;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 80%;

    code {
      color: mat-color($allcode-dev-accent, A100);
    }
  }

  .amble-header-top {
    display: flex;
    flex-direction: row;
  }

  .amble-title {
    flex-grow: 1;
  }

  .amble-body {
    flex-grow: 1;
    background-color: black;
    padding: 0;
  }

  .amble-footer {
    flex-basis: fit-content;
    line-height: 120%;
  }

  .amble-walk {
    display: flex;
    flex-direction: row;
    flex-basis: fit-content;
    align-items: stretch;
    background-color: mat-color($allcode-dev-accent, 200);
    color: mat-contrast($allcode-dev-accent, 200);
    border-top: thin solid mat-color($allcode-dev-accent, 400);
    border-bottom: thin solid mat-color($allcode-dev-accent, 100);
  }

  .amble-walk-description {
    flex-grow: 1;
    padding: 0.5vw 1vw;
    font-size: 80%;
  }

  .amble-walk-extra {
    background-color: mat-color($allcode-dev-accent, 100);
    color: mat-contrast($allcode-dev-accent, 100);
    padding: 0.5vw 1vw;
    font-size: 70%;
  }

  .amble-progress {
    font-size: 70%;
    line-height: inherit;
    align-self: center;
    flex-shrink: 0;
    user-select: none;
    cursor: default;
  }

  .amble-quiz {
    display: flex;
    flex-direction: column;
    background-color: mat-color($allcode-dev-primary, 900);
    color: rgba(0, 0, 0, 0.8);
    border-top: thin solid mat-color($allcode-dev-primary, A700);
    border-bottom: thin solid mat-color($allcode-dev-primary, 700);

    text-with-code code {
      color: mat-color($allcode-dev-primary, 400);
    }
  }

  .amble-quiz-1 {
    display: flex;
    flex-direction: row;

    .amble-qa-label {
      font-size: 80%;
    }
  }

  .amble-quiz-question {
    flex-grow: 1;
    padding: 0 1vw;
    font-size: 80%;
  }

  .amble-quiz-answer {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 80%;
    display: flex;
    flex-direction: row;

    text-with-code {
      flex-grow: 1;
      padding: 0 1vw;
    }
  }

  .amble-quiz-rationale {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 70%;
    padding: 0 1vw;

    .amble-qa-label {
      padding: 0 0.5em 0 0;
    }
  }

  .amble-qa-label {
    padding: 0 1vw;
    flex-shrink: 0;
  }

  .icon-button {
    height: 100%;
  }

  .amble-refs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: mat-color($allcode-dev-primary, 100);
    min-width: 25%;
    display: none;
    flex-direction: column;
    border-left: thin solid rgba(255, 255, 255, 0.1);
  }

  &.amble-refs-visible {
    .amble-overlay-mask {
      display: block;
    }

    .amble-refs {
      display: flex;
    }
  }

  .amble-overlay-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .amble-refs-header {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.2);
    border-top: thin solid rgba(255, 255, 255, 0.4);
    border-bottom: thin solid rgba(0, 0, 0, 0.1);
    flex-shrink: 0;

    label {
      padding: 0 1vw;
      flex-grow: 1;
    }

    icon-button {
      flex-shrink: 0;
    }
  }

  .amble-refs-links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 80%;

     a {
       color: inherit;
       text-decoration: none;
       display: flex;
       flex-direction: row;
       padding: 0.5vw 1vw;

       &:hover, &:focus {
         background-color: rgba(255, 255, 255, 0.1);

         .arrow {
           opacity: 100%;
         }
       }

       .arrow {
         flex-shrink: 0;
         font-size: inherit;
         line-height: inherit;
         opacity: 10%;
       }

       .readable {
         flex-grow: 1;
       }
     }
  }
}
