<div #ambleRoot [ngClass]="{
  'amble-step-mode': (footerMode$ | async) === 'step',
  'amble-quiz-mode': (footerMode$ | async) === 'quiz',
  'amble-refs-visible': refsVisible,
  'amble-layout-one': (codeLayout$ | async) === 'One',
  'amble-layout-two-h': (codeLayout$ | async) === 'TwoHoriz',
  'amble-layout-two-v': (codeLayout$ | async) === 'TwoVert',
  'amble-layout-four': (codeLayout$ | async) === 'Four'
  }" class="amble">
  <header class="amble-header">
    <div class="amble-header-top">
      <div *ngIf="titleMarkdown" class="amble-title">
        <text-with-code [markdown]="titleMarkdown"></text-with-code>
      </div>
      <nav class="amble-nav">
        <icon-radio
          (change)="resetStepExtraMode()"
          (value)="setFooterMode($event)"
          *ngIf="stepChildren.length > 0 || questionChildren.length > 0"
          [value]="footerMode$ | async"
          aria-label="Toggle Explanation or Assessment mode"
          name="footerModeToggle"
        >
          <icon-button
            *ngIf="stepChildren.length > 0"
            active="active"
            icon="format_list_numbered"
            label="Show walk-through"
            title="Walk-Through"
            value="step"
          ></icon-button>
          <icon-button
            *ngIf="questionChildren.length > 0"
            active="inactive"
            icon="grading"
            label="Show self-assessment"
            title="Self-Assessment"
            value="quiz"
          ></icon-button>
          <icon-button
            active="inactive"
            icon="expand_less"
            label="Hide footer"
            title="None"
            value="hidden"
          ></icon-button>
        </icon-radio>
        <icon-button
          class="amble-track-toggle"
          icon="check"
          label="Toggle progress tracking overlay"
          title="Track Progress"
          disabled="disabled"
        ></icon-button>
        <icon-button
          class="amble-layout"
          icon="dashboard"
          label="Toggle code layout overlay"
          title="Code Layout"
          (click)="toggleLayout()"
        ></icon-button>
        <icon-button
          (click)="goFullscreen()"
          [icon]="fullscreenState === 'full' ? 'close_fullscreen' : 'fullscreen'"
          class="amble-big-toggle"
          label="Toggle fullscreen display for this code walkthrough"
          title="Fullscreen"
        ></icon-button>
      </nav>
    </div>
    <div *ngIf="descriptionMarkdown" class="amble-description">
      <text-with-code [markdown]="descriptionMarkdown"></text-with-code>
    </div>
  </header>
  <div class="amble-body">
    <amble-code
      (nextLanguage)="nextLanguage(code)"
      (prevLanguage)="prevLanguage(code)"
      (randomizeLanguage)="randomizeLanguage(code)"
      *ngFor="let code of visibleCode"
      [highlighted]="highlighter(code.source, code.languageId || (code.languageIds || [])[0])"
      [languageId]="code.languageId"
      [languageIds]="code.languageIds"
      [source]="code.source"
      [sourceRefs]="highlightSourceRefs$"
    ></amble-code>
  </div>
  <div (click)="refsVisible = false" class="amble-overlay-mask"></div>
  <div class="amble-refs">
    <header class="amble-refs-header">
      <label>References</label>
      <icon-button
        (click)="refsVisible = false"
        icon="close"
        label="Close references overlay"
        title="Close"
      ></icon-button>
    </header>
    <nav class="amble-refs-links">
      <a *ngFor="let lessonRef of lessonRefs" [routerLink]="lessonRef.slug">
        <span class="arrow material-icons">forward</span>
        <span [textContent]="lessonRef.readable" class="readable"></span>
      </a>
    </nav>
  </div>
  <footer class="amble-footer">
    <div *ngIf="((currentStep$ | async) != null) && ((footerMode$ | async) === 'step')" class="amble-walk">
      <div class="amble-walk-description">
        <text-with-code [markdown]="(currentStep$ | async)?.descriptionMarkup"></text-with-code>
      </div>
      <icon-button
        (click)="showReferences()"
        *ngIf="(currentStep$ | async)?.lessonRefs?.length"
        class="amble-walk-refs-toggle"
        icon="help_center"
        label="Toggle additional references"
        title="References"
      ></icon-button>
      <icon-button
        (click)="toggleStepExtra()"
        *ngIf="(currentStep$ | async)?.extraMarkup != null"
        [icons]="['info',stepExtraMode === 'step' ? 'expand_more' : 'expand_less']"
        class="amble-walk-extra-toggle"
        label="Toggle extra details"
        title="Extras"
      ></icon-button>
      <icon-button
        (click)="backStep()"
        *ngIf="stepChildren.length > 1"
        [disabled]="stepChildren.length === 0"
        class="amble-walk-prev"
        icon="arrow_left"
        label="Previous walk-through item"
        title="Previous"
      ></icon-button>
      <div *ngIf="stepChildren.length > 1" class="amble-progress"><span [textContent]="(currentStepNum + 1) + '/' + stepChildren.length"></span></div>
      <icon-button
        (click)="forwardStep()"
        *ngIf="stepChildren.length > 1"
        [disabled]="stepChildren.length === 0"
        class="amble-walk-next"
        icon="arrow_right"
        label="Next walk-through item"
        title="Next"
      ></icon-button>
    </div>
    <div *ngIf="(currentStep$ | async) != null && stepExtraMode === 'extra'" class="amble-walk-extra">
      <text-with-code [markdown]="(currentStep$ | async)?.extraMarkup"></text-with-code>
    </div>
    <div *ngIf="(footerMode$ | async) === 'quiz'" class="amble-quiz">
      <div *ngIf="currentQuestion$ | async ; let currentQuestion" class="amble-quiz-1">
        <span class="amble-qa-label">Q:</span>
        <div class="amble-quiz-question">
          <text-with-code [markdown]="currentQuestion.question"></text-with-code>
        </div>
        <icon-button
          (click)="toggleAnswer()"
          [icons]="['remove_red_eye', (questionMode$ | async) === 'question' ? 'expand_more' : 'expand_less']"
          class="amble-quiz-answer-toggle"
          label="Toggle the answer"
          title="Answer"
        ></icon-button>
        <icon-button
          (click)="backQuestion()"
          *ngIf="questionChildren.length > 1"
          class="amble-quiz-prev"
          icon="arrow_left"
          label="Previous self-assessment item"
          title="Previous"
        ></icon-button>
        <div *ngIf="questionChildren.length > 1" class="amble-progress"><span [textContent]="(currentQuestionNum + 1) + '/' + questionChildren.length"></span></div>
        <icon-button
          (click)="forwardQuestion()"
          *ngIf="questionChildren.length > 1"
          class="amble-quiz-next"
          icon="arrow_right"
          label="Next self-assessment item"
          title="Next"
        ></icon-button>
      </div>
      <div *ngIf="((currentQuestion$ | async) != null) && ((questionMode$ | async) !== 'question')" class="amble-quiz-answer">
        <span class="amble-qa-label">A:</span>
        <text-with-code [markdown]="(currentQuestion$ | async)?.answer"></text-with-code>
        <icon-button
          (click)="toggleRationale()"
          *ngIf="(currentQuestion$ | async)?.rationale != null"
          [icons]="['details', (questionMode$ | async) === 'answer' ? 'expand_more' : 'expand_less']"
          class="amble-quiz-rationale-toggle"
          label="Toggle the rationale"
          title="Rationale"
        ></icon-button>
      </div>
      <div *ngIf="((currentQuestion$ | async) != null) && ((currentQuestion$ | async)?.rationale != null) && ((questionMode$ | async) === 'rationale')" class="amble-quiz-rationale">
        <span class="amble-qa-label">Rationale:</span>
        <text-with-code [markdown]="(currentQuestion$ | async)?.rationale"></text-with-code>
      </div>
    </div>
  </footer>
</div>
