<div #ambleRoot class="amble" [ngClass]="{'amble-step-mode': footerMode === 'step', 'amble-quiz-mode': footerMode === 'quiz'}">
  <header class="amble-header">
    <div class="amble-header-top">
      <div *ngIf="titleMarkdown" class="amble-title">
        <text-with-code [markdown]="titleMarkdown"></text-with-code>
      </div>
      <nav class="amble-nav">
        <mat-button-toggle-group (change)="resetStepExtraMode()" *ngIf="stepChildren.length > 0 || questionChildren.length > 0" [(value)]="footerMode" aria-label="Toggle Explanation or Assessment mode" name="footerModeToggle">
          <mat-button-toggle *ngIf="stepChildren.length > 0" aria-label="Show walk-through" title="Walk-Through" value="step">
            <mat-icon class="material-icons">format_list_numbered</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle *ngIf="questionChildren.length > 0" aria-label="Show self-assessment" title="Self-Assessment" value="quiz">
            <mat-icon class="material-icons">grading</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle aria-label="Hide footer" title="None" value="hidden">
            <mat-icon class="material-icons">expand_less</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <button aria-label="Toggle progress tracking overlay" class="amble-track-toggle" mat-button title="Track Progress">
          <mat-icon class="material-icons">check</mat-icon>
        </button>
        <button aria-label="Toggle code layout overlay" class="amble-layout" mat-button title="Code Layout">
          <mat-icon class="material-icons">dashboard</mat-icon>
        </button>
        <button (click)="goFullscreen()" [disabled]="fullscreenState === 'working'" aria-label="Toggle fullscreen display for this code walkthrough" class="amble-big-toggle" mat-button title="Fullscreen">
          <mat-icon *ngIf="fullscreenState !== 'full'" class="material-icons">fullscreen</mat-icon>
          <mat-icon *ngIf="fullscreenState === 'full'" class="material-icons">close_fullscreen</mat-icon>
        </button>
      </nav>
    </div>
    <div *ngIf="descriptionMarkdown" class="amble-description">
      <text-with-code [markdown]="descriptionMarkdown"></text-with-code>
    </div>
  </header>
  <div class="amble-body">
    <div *ngFor="let code of visibleCode$ | async" class="amble-codes">
      <amble-code [languageId]="code.languageId" [languageIds]="code.languageIds" [source]="code.source"></amble-code>
    </div>
    <div class="amble-refs"></div>
  </div>
  <footer class="amble-footer">
    <div *ngIf="currentStep && footerMode === 'step'" class="amble-walk">
      <div class="amble-walk-description">
        <text-with-code [markdown]="currentStep.descriptionMarkup"></text-with-code>
      </div>
      <button *ngIf="currentStep.lessonRefs.length" aria-label="Toggle additional references" class="amble-walk-refs-toggle" mat-button title="References">
        <mat-icon class="material-icons">help_center</mat-icon>
      </button>
      <button (click)="toggleStepExtra()" *ngIf="currentStep.extraMarkup != null" aria-label="Toggle extra details" class="amble-walk-extra-toggle" mat-button title="Extras">
        <mat-icon class="material-icons">info</mat-icon>
        <mat-icon class="material-icons" *ngIf="stepExtraMode === 'step'">expand_more</mat-icon>
        <mat-icon class="material-icons" *ngIf="stepExtraMode === 'extra'">expand_less</mat-icon>
      </button>
      <button (click)="backStep()" *ngIf="stepChildren.length > 1" [disabled]="stepChildren.length === 0" aria-label="Previous walk-through item" class="amble-walk-prev" mat-button title="Previous">
        <mat-icon class="material-icons">arrow_left</mat-icon>
      </button>
      <div *ngIf="stepChildren.length > 1" class="amble-progress"><span [textContent]="(currentStepNum + 1) + '/' + stepChildren.length"></span></div>
      <button (click)="forwardStep()" *ngIf="stepChildren.length > 1" [disabled]="stepChildren.length === 0" aria-label="Next walk-through item" class="amble-walk-next" mat-button title="Next">
        <mat-icon class="material-icons">arrow_right</mat-icon>
      </button>
    </div>
    <div *ngIf="currentStep != null && stepExtraMode === 'extra'" class="amble-walk-extra">
      <text-with-code [markdown]="currentStep.extraMarkup"></text-with-code>
    </div>
    <div *ngIf="footerMode === 'quiz'" class="amble-quiz">
      <div *ngIf="currentQuestion" class="amble-quiz-1">
        <span class="amble-qa-label">Q:</span>
        <div class="amble-quiz-question">
          <text-with-code [markdown]="currentQuestion.question"></text-with-code>
        </div>
        <button (click)="toggleAnswer()" aria-label="Toggle the answer" class="amble-quiz-answer-toggle" mat-button title="Answer">
          <span *ngIf="questionMode === 'question'"><mat-icon class="material-icons">remove_red_eye</mat-icon><mat-icon class="material-icons">expand_more</mat-icon></span>
          <span *ngIf="questionMode !== 'question'"><mat-icon class="material-icons">remove_red_eye</mat-icon><mat-icon class="material-icons">expand_less</mat-icon></span>
        </button>
        <button (click)="backQuestion()" *ngIf="questionChildren.length > 1" aria-label="Previous self-assessment item" class="amble-quiz-prev" mat-button title="Previous">
          <mat-icon class="material-icons">arrow_left</mat-icon>
        </button>
        <div *ngIf="questionChildren.length > 1" class="amble-progress"><span [textContent]="(currentQuestionNum + 1) + '/' + questionChildren.length"></span></div>
        <button (click)="forwardQuestion()" *ngIf="questionChildren.length > 1" aria-label="Next self-assessment item" class="amble-quiz-next" mat-button title="Next">
          <mat-icon class="material-icons">arrow_right</mat-icon>
        </button>
      </div>
      <div *ngIf="currentQuestion && (questionMode !== 'question')" class="amble-quiz-answer">
        <span class="amble-qa-label">A:</span>
        <text-with-code [markdown]="currentQuestion.answer"></text-with-code>
        <button (click)="toggleRationale()" *ngIf="currentQuestion.rationale != null" aria-label="Toggle the rationale" class="amble-quiz-rationale-toggle" mat-button title="Rationale">
          <span *ngIf="questionMode === 'answer'"><mat-icon class="material-icons">details</mat-icon><mat-icon class="material-icons">expand_more</mat-icon></span>
          <span *ngIf="questionMode === 'rationale'"><mat-icon class="material-icons">details</mat-icon><mat-icon class="material-icons">expand_less</mat-icon></span>
        </button>
      </div>
      <div *ngIf="currentQuestion && currentQuestion.rationale && (questionMode === 'rationale')" class="amble-quiz-rationale">
        <span class="amble-qa-label">Rationale:</span>
        <text-with-code [markdown]="currentQuestion.rationale"></text-with-code>
      </div>
    </div>
  </footer>
</div>
