@import '~@angular/material/theming';

$allcode-dev-accent: (
  //50: #d2a679,
  //100: #cc9966,
  //200: #c68c53,
  //300: #bf8040,
  //400: #ac7339,
  //500: #996633,
  //600: #86592d,
  //700: #734d26,
  //800: #604020,
  //900: #4c331a,
  //A100: #d9b38c,
  //A200: #dfbf9f,
  //A400: #e5ccb3,
  //A700: #392613,
  50: #0d261a,
  100: #133926,
  200: #1a4c33,
  300: #206040,
  400: #26734d,
  500: #2d8659,
  600: #39ac73,
  700: #40bf80,
  800: #53c68c,
  900: #66cc99,
  A100: #39ac73,
  A200: #339966,
  A400: #2d8659,
  A700: #79d2a6,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $dark-primary-text,
  )
);

$allcode-dev-primary: (
  50: #0d1926,
  100: #132639,
  200: #1a334c,
  300: #204060,
  400: #264c73,
  500: #2d5986,
  600: #3973ac,
  700: #407fbf,
  800: #538cc6,
  900: #6699cc,
  A100: #3973ac,
  A200: #336699,
  A400: #2d5986,
  A700: #79a6d2,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$allcode-dev-primary-palette: mat-palette($allcode-dev-primary);
$allcode-dev-accent-palette:  mat-palette($allcode-dev-accent);
$allcode-dev-warn-palette:    mat-palette($mat-red);
$allcode-dev-theme: mat-dark-theme((
  color: (
    primary: $allcode-dev-primary-palette,
    accent: $allcode-dev-accent-palette,
    warn: $allcode-dev-warn-palette,
  )
));
