//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@include mat-core();

@import "allcode-colors";

@include angular-material-theme($allcode-dev-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  background-color: black;
}
app-root {
  display: block;
  min-height: 100%;
}

.expando {
  flex: 1 1 auto;
}

mat-toolbar {
  a {
    color: mat-contrast($allcode-dev-primary, 900);
    display: inline-block;
    text-decoration: none;
  }
}

.main-content {
  display: block;
  padding: 0 1.6em 1.6em 1.6em;
  font-size: 3vw;
  line-height: 160%;

  p {
    margin: 1.6em 0;
  }

  strong {
    color: mat-color($allcode-dev-primary, A700);
  }

  h1 {
    margin: 1.6em 0 0.8em 0;
    font-size: 150%;
    color: mat-color($allcode-dev-primary, 900);
  }

  h2 {
    margin: 1.6em 0 0.8em 0;
    font-size: 140%;
    color: mat-color($allcode-dev-primary, 800);
  }

  h3 {
    margin: 1.6em 0 0.8em 0;
    font-size: 130%;
    color: mat-color($allcode-dev-primary, 700);
  }

  h4 {
    margin: 1.6em 0 0.8em 0;
    font-size: 120%;
    color: mat-color($allcode-dev-primary, 600);
  }
}
