<!DOCTYPE html>
<html lang="en" class="color-scheme-detect">
<head>
  <meta charset="UTF-8">
  <title><%= (meta.title === '' || meta.title === 'allcode.dev') ? '' : `${meta.title} // ` %>allcode.dev</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="<%= asset('allcode.css').href %>" integrity="<%= asset('allcode.css').integrity %>" rel="stylesheet">
  <link href="https://allcode.dev/<%= meta.slug %>/" rel="canonical">
  <link href="<%= asset('ac-logo.svg').href %>" integrity="<%= asset('ac-logo.svg').integrity %>" rel="icon">
  <%_ if (meta.description != null) { _%>
  <meta content="<%= meta.description %>" name="description">
  <%_ } _%>
  <%_ (meta.forward || []).forEach(nextLink => { _%>
  <link href="/<%= nextLink.href %>" rel="next" title="<%= nextLink.title %>">
  <%_ }); _%>
  <link href="<%= asset('amble.css').href %>" integrity="<%= asset('amble.css').integrity %>" rel="stylesheet">
  <script integrity="<%= asset('allcode-amble.js').integrity %>" src="<%= asset('allcode-amble.js').href %>" type="module"></script>
  <%_ if (languages.length > 0) { _%>
  <link as="style" href="<%= asset('AmbleViewerElement.css').href %>" integrity="<%= asset('AmbleViewerElement.css').integrity %>" rel="preload">
  <link as="style" href="<%= asset('AmbleButtonElement.css').href %>" integrity="<%= asset('AmbleButtonElement.css').integrity %>" rel="preload">
  <link as="style" href="<%= asset('AmbleCodeElement.css').href %>" integrity="<%= asset('AmbleCodeElement.css').integrity %>" rel="preload">
  <script integrity="<%= asset('prismjs/prism.js').integrity %>" src="<%= asset('prismjs/prism.js').href %>"></script>
  <script integrity="<%= asset('prismjs/prism-markup-templating.min.js').integrity %>" src="<%= asset('prismjs/prism-markup-templating.min.js').href %>"></script>
  <%_ unique(languages.map(langId => assetForLanguage(langId))).forEach(asset => { _%>
  <script integrity="<%= asset.integrity %>" src="<%= asset.href %>"></script>
  <%_ }); _%>
  <%_ } _%>
  <meta content="Rick Osborne" name="author">
</head>
<body>
<div id="top"></div>
<header class="site-header">
  <nav class="site-header-nav">
    <a class="site-header-nav-home-link" href="/"><img alt="allcode.dev logo: a rounded hexagon with embedded &ldquo;AC&rdquo; initials" class="site-header-nav-logo" src="<%= asset('ac-logo.svg').href %>" title="allcode.dev Home"></a>
    <% if (traverse(meta.section, 'title', null) !== '') { %>
    <span class="slashes">//</span>
    <a href="<%= traverse(meta.section, 'href', '/learn/') %>"><%= traverse(meta.section, 'title', 'Learn') %></a>
    <% } %>
    <%_ if (meta.title !== '' && meta.slug != 'learn') { _%>
    <span class="slashes">//</span>
    <span class="site-header-title"><a href="#top"><%= meta.title %></a></span>
    <%_ } _%>
  </nav>
  <span class="expando"></span>
  <aside>
    <input id="site-header-settings-checkbox" type="checkbox" />
    <label for="site-header-settings-checkbox" id="site-header-settings-label">
      <svg class="svg-icon" viewBox="-0.5 -0.5 5.4 5.4" xmlns="http://www.w3.org/2000/svg" aria-label="A gear icon, used to access the site settings overlay">
        <title>Site Settings</title>
        <desc>An icon representing a gear, which can be used to toggle the site settings overlay.</desc>
        <style>
          rect, path {
            cursor: pointer;
          }
          rect:hover ~ path, path:hover {
            fill: #fff;
          }
          path { fill: rgba(255, 255, 255, 0.5); }
        </style>
        <rect height="11" width="11" x="-1" y="-1" fill="transparent" stroke="none" />
        <path d="M0,2.7 v-1 h1 l-0.7,-0.7 l0.7,-0.7 l0.7,0.7 v-1 h1 v1 l0.7,-0.7 l0.7,0.7 l-0.7,0.7 h1 v0.5 h-1.3 a0.9,0.9,0,0,0,-1.8,0 a0.9,0.9,0,0,0,1.8,0 h1.3 v0.5 h-1 l0.7,0.7 l-0.7,0.7 l-0.7,-0.7 v1 h-1 v-1 l-0.7,0.7 l-0.7,-0.7 l0.7,-0.7 z" />
      </svg>
    </label>
    <label class="site-header-settings-open" for="site-header-settings-checkbox" id="site-header-settings-matte"></label>
    <form class="site-header-settings-open" id="site-header-settings">
      <h1>Settings</h1>
      <p>These settings are stored in your browser, and will not be shared between devices.</p>
      <fieldset>
        <label>Light/Dark Mode</label>
        <allcode-style-selector class="allcode-style-selector" data-destination="root" data-default="color-scheme-detect" data-storage-name="color-scheme">
          <div data-value="color-scheme-detect" slot="option" title="Use browser and device settings">
            Auto
          </div>
          <div data-value="color-scheme-light" slot="option" title="Light text against dark backgrounds">
            Light
          </div>
          <div data-value="color-scheme-dark" slot="option" title="Light text against dark backgrounds">
            Dark
          </div>
        </allcode-style-selector>
      </fieldset>
    </form>
  </aside>
</header>
<article>
<%- html %>
</article>
<footer class="site-footer">
  <p>
    <a href="/about/">About</a> |
    <a href="/about/license/">License &amp; Terms</a> |
    allcode.dev is a creation of, and copyrighted by, <a href="https://rickosborne.org">Rick Osborne</a>
  </p>
</footer>
</body>
</html>
