<!DOCTYPE html>
<html lang="en" class="color-scheme-detect">
<head>
  <meta charset="UTF-8">
  <title><%= (meta.title === '' || meta.title === 'allcode.dev') ? '' : `${meta.title} // ` %>allcode.dev</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="<%= asset('allcode.css').href %>" integrity="<%= asset('allcode.css').integrity %>" rel="stylesheet">
  <link href="https://allcode.dev/<%= meta.slug %>/" rel="canonical">
  <link href="<%= asset('ac-logo.svg').href %>" integrity="<%= asset('ac-logo.svg').integrity %>" rel="icon">
  <%_ if (meta.description != null) { _%>
  <meta content="<%= meta.description %>" name="description">
  <%_ } _%>
  <%_ (meta.forward || []).forEach(nextLink => { _%>
  <link href="/<%= nextLink.href %>" rel="next" title="<%= nextLink.title %>">
  <%_ }); _%>
  <%_ if (languages.length > 0) { _%>
  <link href="<%= asset('amble.css').href %>" integrity="<%= asset('amble.css').integrity %>" rel="stylesheet">
  <script integrity="<%= asset('allcode-amble.js').integrity %>" src="<%= asset('allcode-amble.js').href %>" type="module"></script>
  <link as="style" href="<%= asset('AmbleViewerElement.css').href %>" integrity="<%= asset('AmbleViewerElement.css').integrity %>" rel="preload">
  <link as="style" href="<%= asset('AmbleButtonElement.css').href %>" integrity="<%= asset('AmbleButtonElement.css').integrity %>" rel="preload">
  <link as="style" href="<%= asset('AmbleCodeElement.css').href %>" integrity="<%= asset('AmbleCodeElement.css').integrity %>" rel="preload">
  <script integrity="<%= asset('prismjs/prism.js').integrity %>" src="<%= asset('prismjs/prism.js').href %>"></script>
  <script integrity="<%= asset('prismjs/prism-markup-templating.min.js').integrity %>" src="<%= asset('prismjs/prism-markup-templating.min.js').href %>"></script>
  <%_ unique(languages.map(langId => assetForLanguage(langId))).forEach(asset => { _%>
  <script integrity="<%= asset.integrity %>" src="<%= asset.href %>"></script>
  <%_ }); _%>
  <%_ } _%>
  <meta content="Rick Osborne" name="author">
</head>
<body>
<div id="top"></div>
<header class="site-header">
  <nav class="site-header-nav">
    <a class="site-header-nav-home-link" href="/"><img alt="allcode.dev logo: a rounded hexagon with embedded &ldquo;AC&rdquo; initials" class="site-header-nav-logo" src="<%= asset('ac-logo.svg').href %>" title="allcode.dev Home"></a>
    <% if (traverse(meta.section, 'title', null) !== '') { %>
    <span class="slashes">//</span>
    <a href="<%= traverse(meta.section, 'href', '/learn/') %>"><%= traverse(meta.section, 'title', 'Learn') %></a>
    <% } %>
    <%_ if (meta.title !== '' && meta.slug != 'learn') { _%>
    <span class="slashes">//</span>
    <span class="site-header-title"><a href="#top"><%= meta.title %></a></span>
    <%_ } _%>
  </nav>
  <span class="expando"></span>
</header>
<article>
<%- html %>
</article>
<footer class="site-footer">
  <p>
    <a href="/about/">About</a> |
    <a href="/about/license/">License &amp; Terms</a> |
    allcode.dev is a creation of, and copyrighted by, <a href="https://rickosborne.org">Rick Osborne</a>
  </p>
</footer>
</body>
</html>
