<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= meta.title === '' ? '' : `${meta.title} // ` %>allcode.dev</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="/assets/amble.css" rel="stylesheet">
  <link href="https://allcode.dev/<%= meta.slug %>" rel="canonical">
  <link href="<%= asset('ac-logo.svg').href %>" integrity="<%= asset('ac-logo.svg').integrity %>" rel="icon">
  <%_ if (meta.description != null) { _%>
  <meta content="<%= meta.description %>" name="description">
  <%_ } _%>
  <%_ (meta.forward || []).forEach(nextLink => { _%>
  <link href="/<%= nextLink.href %>" rel="next" title="<%= nextLink.title %>">
  <%_ }); _%>
  <script src="/assets/allcode-amble.js" type="module"></script>
  <%_ if (languages.length > 0) { _%>
  <script integrity="<%= asset('prismjs/prism.js').integrity %>" src="<%= asset('prismjs/prism.js').href %>"></script>
  <%_ unique(languages.map(langId => assetForLanguage(langId))).forEach(asset => { _%>
  <script integrity="<%= asset.integrity %>" src="<%= asset.href %>"></script>
  <%_ }); _%>
  <%_ } _%>
</head>
<body>
<%- html %>
</body>
</html>
