
<section class="<%= slug %>" is="amble-viewer">
  <header slot="title"><%- markup(walkthrough.title) %></header>
  <div slot="description"><%- markup(walkthrough.description) %></div>
  <%_ walkthrough.sources.forEach(source => { _%>
  <div is="amble-source" label="<%= languageLabelOf(source) %>" syntax="<%= languagesOf(source).join(',') %>">
<%= source.source _%>
  </div>
  <%_ }); _%>
  <%_ (walkthrough.explanation || []).forEach(step => { _%>
  <div is="amble-step" stepKey="define">
    <p slot="description"><%- markup(step.description) %></p>
    <% if(step.extra != null) { %><span slot="extra"><%- markup(step.extra) %></span><% } %>
    <%_ (step.highlight || []).forEach(highlight => { _%>
    <span is="amble-source-ref"<% if (highlight.language != null) { %> language="<%= languagesOf(highlight).join(",") %>"<% } %> selector="<%= highlight.selector %>"></span>
    <%_ }); _%>
    <%_ (step.refs || []).forEach(ref => { _%>
    <a class="amble-link" href="/<%= ref.href %>"><%= ref.title %></a>
    <%_ }); _%>
  </div>
  <%_ }); _%>
  <%_ (walkthrough.assessment || []).forEach(question => { _%>
  <div is="amble-question"<% if (question.highlightWhen != null) { %> highlightWhen="<%= question.highlightWhen %>"<% } %>>
    <p slot="question"><%- markup(question.question) %></p>
    <p slot="answer"><%- markup(question.answer) %></p>
    <% if (question.rationale != null) { %><p slot="rationale"><%- markup(question.rationale) %></p><% } %>
    <%_ (question.highlight || []).forEach(highlight => { _%>
    <span is="amble-source-ref"<% if (highlight.language != null) { %> language="<%= languagesOf(highlight).join(",") %>"<% } %> selector="<%= highlight.selector %>"></span>
    <%_ }); _%>
    <%_ (question.refs || []).forEach(ref => { _%>
    <a class="amble-link" href="/<%= ref.href %>"><%= ref.title %></a>
    <%_ }); _%>
  </div>
  <%_ }); _%>
</section>

